.Helper svg {
  position: absolute;
  right: 0;
  bottom: -8vh;
  width: 20vw;
  height: 20vh;
  fill: rgba(255, 0, 0, 0.1);
}

.Helper div {
  position: absolute;
  right: 12vw;
  bottom: 12vh;
  width: 18vw;
  height: 8vw;
  background: #CAC9F2;
  border-radius: 40px 40px 0 40px;
  text-align: center;
  color: #333C8D;
  font-size: 1vw;
  visibility: hidden;
}

.Helper svg:hover {
  bottom: -6vh;
}

.Helper svg:hover + div {
  visibility: visible;
}
