.Blob {
  position: absolute;
  left: 0;
  top: -20vw;
  width: 100vw;
  height: calc(100vh + 20vw);
}

.Blob svg {
  fill: rgba(255, 0, 0, 0.1);
}

.Blob svg path {
  margin-left: 10vw;
  animation: Blob-scale 25s linear 0s infinite;
}

@keyframes Blob-scale {
  0%    { transform: rotate(0deg)   scale(1)  translate(3%, 3%)  }
  12.5% { transform: rotate(45deg)  scale(.9) translate(28%, -53%) }
  25%   { transform: rotate(90deg)  scale(1)  translate(3%, -103%) }
  37.5% { transform: rotate(135deg) scale(.9) translate(-53%, -128%) }
  50%   { transform: rotate(180deg) scale(1)  translate(-103%, -103%) }
  62.5% { transform: rotate(225deg) scale(.9) translate(-128%, -53%) }
  75%   { transform: rotate(270deg) scale(1)  translate(-103%, 3%) }
  87.5% { transform: rotate(315deg) scale(.9) translate(-53%, 28%) }
  100%  { transform: rotate(360deg) scale(1)  translate(3%, 3%) }
}
