.Button {
    width: 18vw;
    height: 4vw;
    background-color: #333C8D;
    box-shadow: -5px 5px 10px rgba(46, 54, 127, 0.2),
        5px -5px 10px rgba(46, 54, 127, 0.2),
        -5px -5px 10px rgba(56, 66, 155, 0.9),
        5px 5px 13px rgba(46, 54, 127, 0.9),
        inset 1px 1px 2px rgba(56, 66, 155, 0.3),
        inset -1px -1px 2px rgba(46, 54, 127, 0.5);
    border-radius: 40px;
    border-width: 0;
    position: relative;
    margin: 0 2vh 0 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    font-family: inherit;
    color: inherit;
}

@media (hover: hover) and (pointer: fine) {
    .Button:hover {
        cursor: pointer;
        box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.2),
        5px -5px 10px rgba(255, 255, 255, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9),
        5px 5px 13px rgba(255, 255, 255, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3),
        inset -1px -1px 2px rgba(255, 255, 255, 0.5);
    }
}
