.Timer-font {
    font-size: 6.5vw;
}

.Timer-number-cell {
    width: 8vw;
    margin-right: 0vw;
}

.Timer-comma-cell {
    width: 1vw;
    margin-left: 0.8vw;
}

.Timer-milliseconds-font {
    font-size: 3vw;
    margin-bottom: -2.8vw;
    margin-left: 0.5vw;
    width: 2vw;
}

.Timer-active-number {
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.Timer-smoke-number {
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.Timer {
    width: 40vw;
    margin-left: 12%;
    margin-bottom: 5%;
}
