.App {
  background: radial-gradient(91.81% 91.81% at 78.95% -15.49%, #8CFFFF 0%, rgba(9, 42, 65, 0) 100%),
              radial-gradient(88.96% 88.96% at 21.72% 116.6%, #7ECDBF 0%, rgba(171, 230, 226, 0) 100%),
              #5E6AD3;
  font-family: 'BaufraRegular';
  min-height: 100vh;
  color: #FFFFFF;
}

.header {
  top: 0;
  left: 0;
  position: relative;
  height: 10vh;
  width: 100%;
  font-size: 3vh;
  /* Content by center */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  height: 80vh;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  float: left;
}

.footer {
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  /*background-color: antiquewhite;*/
  position: fixed;
  float: left;
}

.timer-block {
  height: 50%;
  width: 100%;
  left: 0;
  position: relative;
  float: left;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

.button-block {
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  float: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-top: -2.5vh;
}

.AlignGrid {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image:
          repeating-linear-gradient(#000 0 1px, transparent 1px 100%),
          repeating-linear-gradient(90deg, #000 0 1px, transparent 1px 100%);
  background-size: 10vw 3vh;
}
