@font-face {
  font-family: 'BaufraRegular';
  src: local('BaufraRegular'),
    url('./fonts/Baufra/Baufra-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: 'BaufraBold';
  src: local('BaufraBold'),
    url('./fonts/Baufra/Baufra-DemiBold.otf')
    format('opentype');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
